@mixin brandSizing {
    width: 60px;
    height: 60px;
}

@mixin titulo {
    text-transform: capitalize;
    font-style: italic;
    color: $tertiaryColor;
    vertical-align: bottom;
    font-weight: bold;
}

@mixin subtitulo {
    text-transform: capitalize;
    font-style: italic;
    color: $secondaryColor;
    vertical-align: top;
    font-weight: bold;
}

@mixin navLinks {
    color: $tertiaryColor;
    margin: 0 3rem;
    font-weight: bolder;
    font-size: 2rem;
}

/* GLOBAL */

* {
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: $tertiaryColor;
}

body {
    height: 100vh;
}

main {
    background-color: $primaryColor;
}

h1 .titulo {
    @include titulo;
}

h1 .subtitulo {
    @include subtitulo;
}

h2 .tituloH2 {
    font-weight: bold;
    color: $tertiaryColor;
}

h3 .tituloH3 {
    font-weight: bold;
    color: $secondaryColor;
}

/* FOOTER */

footer {
    background-color: $senaryColor;
}

/* NAVBAR */

nav {
    background-color: $senaryColor;

    .navBrand {
        @include brandSizing;
    }

    .brandIcon {
        @include brandSizing;
    }

    .linkNav a {
        @include navLinks;

        .activo {
            color: $secondaryColor;
        }

        &:hover {
            color: $secondaryColor;
        }

        &:focus {
            color: $secondaryColor;
        }
    }

    .botonNav {
        background-color: $secondaryColor;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}