@mixin brandSizing {
    width: 60px;
    height: 60px;
}

@mixin titulo {
    text-transform: capitalize;
    font-style: italic;
    color: $tertiaryColor;
    vertical-align: bottom;
    font-weight: bold;
}

@mixin subtitulo {
    text-transform: capitalize;
    font-style: italic;
    color: $secondaryColor;
    vertical-align: top;
    font-weight: bold;
}

@mixin navLinks {
    color: $tertiaryColor;
    margin: 0 3rem;
    font-weight: bolder;
    font-size: 2rem;
}

/* GLOBAL */

* {
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: $tertiaryColor;
}

body {
    height: 100vh;
}

main {
    background-color: $primaryColor;
}

h1 .titulo {
    @include titulo;
}

h1 .subtitulo {
    @include subtitulo;
}

h2 .tituloH2 {
    font-weight: bold;
    color: $tertiaryColor;
}

h3 .tituloH3 {
    font-weight: bold;
    color: $secondaryColor;
}

.carousel-item h5 {
    color: $secondaryColor;
    background-color: $quinquinaryColor;
    width: 40%;
    border: 1px solid $secondaryColor;
}

/* IMAGEN DE FONDO Y GRADIENTE */

/*.imagenFondo {
    background-image: url(../assets/skins/Jhin_OriginalSkin.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gradienteFondo {
    background-image: radial-gradient(hsla(0, 100%, 0%, 0), #111111);
    height: 100%;
}*/

/* FOOTER */

footer {
    background-color: $senaryColor;
}

/* NAVBAR */

nav {
    background-color: $senaryColor;

    .navBrand {
        @include brandSizing;
    }

    .brandIcon {
        @include brandSizing;
    }

    .linkNav a {
        @include navLinks;

        .activo {
            color: $secondaryColor;
        }

        &:hover {
            color: $secondaryColor;
        }

        &:focus {
            color: $secondaryColor;
        }
    }

    .botonNav {
        background-color: $secondaryColor;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}

/* IFRAMES */

div .videos {
    border: 2px solid $tertiaryColor;
}