/* HABILIDADES */

.nombreHabilidad {
    color: $secondaryColor;
}

.cuadroHabilidad {
    background-color: $quaternaryColor;
    border: 1px solid $secondaryColor;
}

.imagenHabilidad {
    border: 2px solid $secondaryColor;
}